.t-t-1{
    padding: 15vmin 0px;
    text-align: center;
}


.t-t-1 p{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.15px;
    font-weight: 100;
    color: #777777;
    text-align: center;
    width: 65%;
    margin: auto;
}
.t-t-1 h3{
    font-size: 34px;
    line-height: 125%;
    letter-spacing: -1px;
    color: #31333c;
    text-align: center;
}

.divder-hr{
    
    background: #dbdbdb;
    width: 50px;
    height: 3px;
    margin: 30px auto;
}

.t-t-2{
text-align: center;}
    
.t-t-2 .box-imgs
{
    
    float: left;
    width: 33.3%;
    padding: 2vmin 0px;
}
.t-t-2 .box-imgs img
{
        filter: brightness(0.0);
}
.t-t-2 p
{font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    font-weight: 100;
    color: #2c2c2c;
    text-align: center;
width: 100%;}


.t-t-3{
    padding: 25vmin 0px;
}
.t-t-3 h3{
    
    text-align: left;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: -1px;
    color: #31333c;
    margin-bottom: 20px;
    
}
.t-t-3 p{
        text-align: left;
    font-weight: 100;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.15px;
    color: #777777;
    width: 80%;
}

.t-t-3 ul {
    list-style: none;
        padding: 0;
    margin-top: 53px;
}

 .t-t-3 ul li {
    letter-spacing: 1.5px;
    /* padding-bottom: 5px; */
    line-height: 30px;
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 600;
    padding-left: 30px;
    background: url(https://etoro-cdn.etorostatic.com/studio/etoro.pages/copyportfolios-partners/v24/images/icon-v.png) no-repeat 0 15%;
}


.t-t-3 li p {
    font-size: 15px;
    line-height: 28px;
    width: 90%;
    font-weight: 100;
    letter-spacing: -0.2px;
    color: #2c2c2c;
    padding-bottom: 15px;
}

.t-t-3 .img-left img{
    
    
}
@media (min-width: 768px) { 

    
    .desktopnav{
        display: block;
    }    
    .mobilenav{
        display: none;
    }
}
@media (max-width: 767px) {

    
.desktopnav{
        display: none;
    } 
      .mobilenav{
        display: block;
    }
    
}
